<div class="row">
  <h1>Plots</h1>

  <% if user_signed_in? %>
    <p><%= link_to 'New Plot', new_post_path, :class => "btn btn-large btn-primary" %> </p>
  <% end %>
</div>

<% @posts.each do |post| %>
  <div class="row thumbnail">

    <div class="col-md-4">
      <%= link_to(image_tag(post.picture_url(:thumb)), post_path(post)) if post.picture.present? %>
      <div class="caption">
        <h3><%= post.title %></h3>
        <p><%= truncate(post.caption, length: 250) %></p>
      </div>
    </div>

    <div class="col-md-8">
      <div class="location">
        <div class="map"></div>
      </div>
    </div>

  <% if user_signed_in? %>
    <div class="row">
      <div class="col-md-12"
    <p>
      <%= link_to 'Edit', edit_post_path(post), :class => "btn btn-mini btn-primary" %>
      <%= link_to 'View', post, :class => "btn btn-mini btn-info" %>
      <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger" %>
    </p>
      </div>
    </div>
  <% end %>
  </div>
<% end %>
